.profile {
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}

.mission-joined {
  padding: 1rem;
}

.rocket-reserved {
  padding: 1rem;
}

h4 {
  font-size: 2rem;
  font-family: monospace, sans-serif;
  color: rgb(97, 7, 7);
}

h5 {
  font-size: 1rem;
  font-family: fantasy, sans-serif;
}
