.header {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-left: 10rem;
  margin-right: 1rem;
}

.logo-container {
  align-items: center;
  justify-content: flex-start;
}

.logo {
  width: 5rem;
  height: 5rem;
  margin-left: -10rem;
}
