.header {
  justify-content: space-around;
  align-items: center;
  background-color: azure;
  gap: 21rem;
}

.logo-container {
  align-items: flex-start;
  justify-content: flex-start;
}

.logo {
  width: 4rem;
  height: 4rem;
  animation-name: rotate-windows;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
