.links {
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.nav {
  text-decoration: none;
  font-size: 1rem;
  color: rgb(4, 101, 247);
  padding: 1rem;
}

.rockets:hover {
  text-decoration: underline;
  color: rgb(0, 174, 255);
}

.missions:hover {
  text-decoration: underline;
  color: rgb(0, 174, 255);
}

.profile:hover {
  text-decoration: underline;
  color: rgb(0, 174, 255);
}

.active {
  text-decoration: underline;
  color: rgb(1, 41, 116);
}